In [1]:
import fantasy_stats_def as fs
import pandas as pd

#### Get all info (only run when new info to retrieve) ####

In [2]:
all_lineups_df = fs.get_all_lineups()

In [3]:
league_stats_df_by_gameweek = fs.get_league_stats_df_by_gameweek(all_lineups_df)
league_stats_df_by_gameweek_with_bench = fs.get_league_stats_df_by_gameweek(all_lineups_df, True)

In [4]:
league_points_df = fs.get_league_points_df(cumulative = True, totals = False)
league_positions_df = fs.get_league_positions_df()
league_standings_df = pd.concat([league_points_df, league_positions_df],keys=['points','position']).swaplevel(0,1).groupby(level=[0,1]).sum()

#### Play with info ####

In [20]:
league_standings_df

                  1    2
Emma   points    43  105
       position   2    1
Claire points    39   85
       position   3    2
Luke   points    27   84
       position   5    3
Olivia points    31   82
       position   4    4
Matt   points    22   78
       position   7    5
Fat    points    48   73
       position   1    6
George points    26   64
       position   6    7

In [21]:
all_lineups_df['Fat',2]

,name,team,position,value,selected %,minutes,goals scored,goals conceded,penalties missed,penalties saved,assists,saves,own goals,yellow cards,red cards,foul points,total points
157,Pickford,Everton,Goalkeeper,5,9.05169,90,0,2,0,0,0,2,0,0,0,0,1
250,van Dijk,Liverpool,Defender,6.5,26.2505,90,0,0,0,0,0,0,0,0,0,0,7
155,Digne,Everton,Defender,6.1,12.8937,90,0,2,0,0,0,0,0,0,0,0,1
345,Basham,Sheffield Utd,Defender,5,1.85648,67,0,1,0,0,0,0,0,0,0,0,2
120,Mount,Chelsea,Midfielder,7,6.69778,90,0,2,0,0,0,0,0,0,0,0,2
37,Grealish,Aston Villa,Midfielder,7,10.0971,90,0,0,0,0,0,0,0,0,0,0,3
338,Saint-Maximin,Newcastle,Midfielder,5.5,19.7752,32,0,2,0,0,0,0,0,0,0,0,1
355,Lundstram,Sheffield Utd,Midfielder,5.5,10.3051,90,0,1,1,0,0,0,0,1,0,1,-1
460,Jiménez,Wolves,Forward,8.5,18.8175,90,1,3,0,0,0,0,0,0,0,0,6
377,Adams,Southampton,Forward,6,3.69334,79,0,4,0,0,0,0,0,1,0,1,1
507,Wilson,Newcastle,Forward,6,0.875641,90,0,3,0,0,0,0,0,0,0,0,2
363,McCarthy,Southampton,Goalkeeper,4.5,20.8799,90,0,5,0,0,0,1,0,0,0,0,0
365,Redmond,Southampton,Midfielder,6.5,0.581154,0,0,0,0,0,0,0,0,0,0,0,0
74,White,Brighton,Defender,4.5,1.41408,90,0,0,0,0,0,0,0,0,0,0,6
92,Lowton,Burnley,Defender,4.5,0.165881,0,0,0,0,0,0,0,0,0,0,0,0
totals (inc. bench),13,10,,88.1,9.557,1078,1,25,1,0,0,3,0,2,0,2,31
totals,11,8,,68.1,10.9376,898,1,20,1,0,0,2,0,2,0,2,25

In [22]:
league_stats_df_by_gameweek[2]

,active players,team,value,selected %,minutes,productivity,goals scored,goals conceded,goal difference,penalties missed,penalties saved,assists,saves,own goals,yellow cards,red cards,foul points,total points,weekly position
Emma,9,9,79,8.1123,739,0.083897,1,11,-10,0,1,7,3,0,0,0,0,62,1
Luke,11,9,78.4,15.6909,893,0.063830,4,19,-15,0,0,3,3,0,2,0,2,57,2
Matt,11,8,76.5,9.55709,928,0.060345,5,20,-15,0,0,1,3,0,0,0,0,56,3
Olivia,11,8,81.5,10.0862,943,0.054083,4,20,-16,0,0,3,0,0,0,0,0,51,4
Claire,11,8,73.8,5.72031,794,0.057935,5,19,-14,0,0,1,6,0,2,0,2,46,5
George,11,10,70.4,6.7598,689,0.055152,4,12,-8,0,0,1,3,0,0,1,3,38,6
Fat,11,8,68.1,10.9376,898,0.027840,1,20,-19,1,0,0,2,0,2,0,2,25,7

In [18]:
league_stats_df_by_gameweek[2][['goals scored','goals conceded','goal difference','weekly position']].sort_values('goal difference', ascending=False)

       goals scored goals conceded goal difference weekly position
George            4             12              -8               6
Emma              1             11             -10               1
Claire            5             19             -14               5
Luke              4             19             -15               2
Matt              5             20             -15               3
Olivia            4             20             -16               4
Fat               1             20             -19               7

In [19]:
df = fs.get_league_stats_df_by_stat(league_stats_df_by_gameweek_with_bench, 'goal difference', 'total')
pd.concat([df,league_stats_df_by_gameweek_with_bench[fs.current_gameweek][['weekly position']]],axis=1)

         1   2 totals weekly position
George -10  -8    -18               6
Emma   -11 -10    -21               3
Luke    -7 -21    -28               2
Olivia -11 -19    -30               5
Claire -11 -19    -30               1
Matt   -10 -20    -30               4
Fat    -12 -24    -36               7